<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="/img/meysam-jarahkar-LI7jB1925j0-unsplash (1).jpg" alt="sandika"  class="img-thumbnail rounded-circle">
            <h1 class="diplay-4">
                Sandika
            </h1>
            <p class="lead">Lecturer|Content Creator</p>
        </div>
    </div>
</div>